footer.footer {
  color: $color-white-opacity;
  margin-bottom: 10px;
  text-align: center;
  font-size: 0.8rem;

  a {
    position: relative;
    color: $color-orange;
    transition: color .2s;

    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      height: 1px;
      width: 0;
      background: $color-orange;
      transform: translateX(-50%);
      transition: width .2s;
    }

    &:hover {
      &:after {
        width: 100%;
      }
    }
  }
}